body {
  font-family: sans-serif;
  color: #fff;
  font-weight: 300;
  text-align: center;
  background: linear-gradient(to left, #e96443 , #904e95); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
